{% load static %}
<link id="theme-style" rel="stylesheet" href="{% static 'css/estilos.css' %}">

{% block contenido %}
<h1 class="app-page-title">Lista de videojuegos</h1>   
<div class="app-card app-card-orders-table shadow-sm mb-5">
    <hr>
    <br>
    <table class="table">
        <thead class="table-dark">
            <th>Título</th>
            <th>Año</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Descripción</th>
        </thead>
        <tbody>
            {% for videojuego in object_list  %}
            <tr>
                <td>{{videojuego.titulo}}</td>
                <td>{{videojuego.anio}}</td>
                <td>{{videojuego.categoria}}</td>
                <td>{{videojuego.precio}}</td>
                {% if videojuego.descripcion %}
                  <td>{{videojuego.descripcion}}</td>
                {% else %}
                  <td></td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contenido %}
  
