{% extends 'base2.html' %}
{% load static %}

{% block titulo %}
    Lista de videojuegos
{% endblock titulo %}

{% block contenido %}
<h1 class="app-page-title">Lista de videojuegos</h1>   
<!-- <h3>{{request.session.cuantos}}</h3>
<h3>{{request.session.total}}$</h3> -->
<div class="app-card app-card-orders-table shadow-sm mb-5">
    <a  href="{% url 'videojuego:videojuego_pdf' %}" class="btn btn-secondary btn-sm">
      <i class="fas fa-file-pdf" style="width: 15px; height: 15px;"></i> Reporte PFD de todos los juegos 
    </a>
    <hr>
    <br>
    <table class="table">
        <thead>
            <th>Título</th>
            <th>Año</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Acciones</th>
            <th>Reportes del detalle</th>
            <th>Cantidad a comprar</th>
        </thead>
        <tbody>
            {% for videojuego in object_list  %}
            <tr>
                <td>{{videojuego.titulo}}</td>
                <td>{{videojuego.anio}}</td>
                <td>{{videojuego.categoria}}</td>
                <td>{{videojuego.precio}}</td>
                {% if videojuego.descripcion %}
                  <td>{{videojuego.descripcion}}</td>
                {% else %}
                  <td></td>
                {% endif %}
                <td>
                    <a href="{% url 'videojuego:ver' videojuego.id %}" class="btn btn-primary">Ver</a>
                    <button 
                    onclick="muestraModal(`{% url 'videojuego:eliminar' videojuego.id %}` , '{{videojuego.titulo}}')" 
                    type="button" class="btn btn-danger" data-toggle="modal" 
                    data-target="#exampleModal">
                      Eliminar
                    </button>
                    <a href="{% url 'videojuego:editar' videojuego.id %}" class="btn btn-info">Editar</a>
                </td>
                <td align="center">
                  <a href="{% url 'videojuego:pdf_detalle' videojuego.id %}">
                    <svg class="far fa-file-pdf" style="width: 30px; height: 30px;"></svg>
                  </a>               
                  <form method="post" action="{% url 'videojuego:comprar' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id_videojuego" value="{{videojuego.id}}">
                    <td class="p-0 d-xl-table-cell d-none">
                    <li class="def-number-input number-input d-flex justify-content-center">
                        <input type="number" name="cantidad" style="height: 25px; line-height: 15px" min="0"> 
                        <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                          <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
                        </svg></button>
                    </li>
                  </td>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled"><span class="step-links"></li>
        {% if page_obj.has_previous %}
          <span><a class="page-link" href="?page=1">&laquo; Primera</a></span>
          <span><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
        {% endif %}
        {% for page_actual in  page_obj.paginator.page_range %}
          {% if page_actual == page_obj.number %}
            <span class="page-item active" aria-current="page" ><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
          {% else %}
            <span><a class="page-link" href="?page={{ page_actual }}">{{ page_actual }}</a></span>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <span><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
            <span><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></span>
        {% endif %}
    </span>
    </ul>
  </nav>
</div>
  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalCuerpo">
      </div>
      <div class="modal-footer">
        <form id="formEliminar" method="post">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">Sí, si quiero</button>
        </form>
        <button type="submit" class="btn btn-success" data-dismiss="modal">Mejor no</button>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}


{% block js %}
  <script src="{% static 'js/funciones.js' %}"></script>
{% endblock js %}
  
